.game {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    min-height: 96vh;
}

.game-board {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hidden-input-field {
    /* background: #fffef0; */
    background-color: white;
    border: 0px;
    width: 100%;
}

#hidden-input-field:focus {
    outline: none;
    color: transparent;
    caret-color: transparent;
}

#nav-bar {
    display: flex;
    margin-top: 2%;
    padding: 2% 0;
    justify-content: right;
}

#nav-bar a {
    margin: 0 5%;
    text-decoration: none;
}

#game-header {
    text-align: center;
}